* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    background-color:darkslategray;
    display: block;
    width: 100%;
    text-align: left;
    color: antiquewhite;
    position: fixed;
    top: 0;
    padding: 10px;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

main {
    margin-top: 60px;
    width: 100%;
}

#lasagna, #ramen, #spaghetti {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    color: darkslategray
}

a {
    text-decoration: none;
    color: darkred;
    font-style: italic
}

.title {
    font-size: 36px;
}

img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

#lasagna {
    background-color:azure;
}

#ramen {
    background-color: honeydew;
}

#spaghetti {
    background-color:khaki;
}