body {
    background-color: lightgray;
    font-family:'Courier New', Courier, monospace;
}

.lasagna {
    background-color:salmon;
    margin:30px;
    padding: 10px 10px;
    display:flex;
    align-items:center;
}

.ramen {
    background-color:sandybrown;
    margin:30px;
    padding: 10px 10px;
    display:flex;
    align-items:center;
}

.spaghetti {
    background-color:darkkhaki;
    margin:30px;
    padding: 10px 10px;
    display:flex;
    align-items:center;
}

p, ol, ul {
    border:1px black solid;
    color:green;
    font-style:bold;
    flex:1;
}